:root {
    --page-content-padding: 1rem;
    --page-min-column-width: 12.5rem;
    --page-padding: 1rem;
}

.arpaPage {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.arpaPage__layout {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.arpaPage__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--page-padding);
}

.arpaPage__primaryNav {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .navLink {
        width: auto;
    }
}

.arpaPage__leftColumn {
    min-width: var(--page-min-column-width);
    padding: var(--page-content-padding);
}

.arpaPage__rightColumn {
    min-width: var(--page-min-column-width);
    padding: var(--page-content-padding);
}

.arpaPage__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    padding: var(--page-padding);
}

.arpaPage__bodyLayout {
    display: flex;
    gap: 1rem;
}

.arpaPage__content {
    padding: var(--page-content-padding);
}

.arpaPage__footer {
    padding: var(--page-padding);
    margin-top: auto;
}

.arpaPage__footerContent {
}
